/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
  font-family: 'Poppins';
}

:root{
  --ORANGE1: #E65D16;
  --BLACK1: #1C2023;
  --BLUE1:#3671B9;
  --BLUE2:#5399C3;
  --BLUE3:#3595A0;
  --GREEN1:#BED64C;
  --GRAY1:#C3C3B4;
  --WHITE1:#EDF0F0;
}

body{
  display:flex;
  flex-direction: row;
  padding: 2rem;
}

/*FIM RESET*/

.left-aside{
  width: 100px;
}

.logo{
  padding: 0;
  margin-bottom:50px;
  position: relative;
  left: -17px;
  width: 10px;
}

.menu{
  display:flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
  justify-content:center;
}

.nav-link{
  color: var(--BLACK1);
  width: fit-content;
  padding: .6rem;
  border-radius: 12px;
  font-size: x-large;
}


.nav-link:hover{
  background-color: var(--ORANGE1);
  color: var(--WHITE1);
  box-shadow: 0 4px 15px -6px var(--ORANGE1) ;
}
/*FIM ASIDE*/
.profile-img img{
  width: 100%;
  border-radius: 50%;
}

.profile{
  display: flex;
  flex-direction: row;
  gap:20px;
  font-size: x-large;
  letter-spacing: .2rem;
}

.profile h2{
  font-weight:bolder;
  font-size: xx-large;
}

.teste1{
  z-index: 1;
  border-radius: 6px;
  padding: .8rem;
  width: 300px;
  background-color:var(--WHITE1);
  border: none;
  outline: none;
}
.teste{
  position: relative;
  left:  -40px;
  top: 2px;
  z-index: 100;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--ORANGE1);
}

.top-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.bell{
  padding: .6rem;
  border: 1px solid var(--BLACK1);
  border-radius:50%;
  font-size: 1.3rem;
}

.search{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
}

.content{
  width: 75%
}

/*FIM TOPBAR*/

.weatherAndAir{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  align-items:stretch;
  justify-content:space-between;
}

.weather,.air-quality{
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 48%;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 10px 15px -6px var(--BLACK1);
}

.weather_top,.air_top{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.weather-title,.air-title{
  display: flex;
  flex-direction: column;
  gap: .7rem;
}
.weather-title h4,.air-title h4{
  font-weight: bold;
}
.weather{
  background: url("../assets/SVG/tower-2636594.svg") center top no-repeat;
  color: var(--WHITE1);
  font-size: 1.2rem;
}
.weather-icon, .air-icon{
  background-color: var(--WHITE1);
  color: var(--ORANGE1);
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
}
.max-min,.wind-speed{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.max{
  font-size: xxx-large;
}
.min,.aqi{
  padding:.1rem .3rem;
  font-size: x-large;
  border-radius: 5px;
  font-weight: bolder;
  color: var(--BLACK1);
  background-color: var(--WHITE1);
}

.aqi{
  background-color: var(--GREEN1);
  font-size: medium;
  padding:.3rem;
}

.others{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content:space-between;
}

.card{
  padding: 1.5rem;
  border-radius: 12px;
  color: var(--BLACK1);
  font-weight: bold;
  align-items:center;
}

.card:nth-child(2){
  background-color: var(--GREEN1);
}

.air-quality{
  background: url("../assets/SVG/mountains-6641490.svg") center right no-repeat;
  background-size: cover;
  font-size: 1.2rem;
}

.air-icon{
  font-size:large;
}
.air-title{
  font-weight: bold;
  font-size: large;
}

.air_txt{
  font-weight: bolder;
}
